.scroller_wrap {
    margin: 80px 0;
    margin-top: -100px;
    direction: ltr;
    background: linear-gradient(90deg, var(--primary-color) -20%, var(--primary-second-color) 170%);
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-self: center;
    /* transform: rotate(-2deg); */
}

.scroller {
    display: flex;
    animation: scroll 25s linear infinite both;
}

.scroller span {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 3.5rem;
    white-space: nowrap;
}

.dot {
    font-size: 2rem;
    color: white;
}
@media (max-width: 700px) {
    .scroller span {
        font-size: 0.8rem;
        padding: 0.5rem 2rem;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
