.swiper {
    width: 100vw !important;
    max-width: 100% !important;
    height: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    cursor: grab;
    margin-bottom: 80px;
    padding: 5px !important;
    border-radius: 5px;
}
.imageSwiper {
    background: transparent !important;
    border-radius: 0;
    padding: 10px !important;
    margin-bottom: 180px !important;
    height: auto !important;
    cursor: auto !important;
    margin-bottom: 150px;
    box-shadow: none !important;
    width: fit-content !important;
}
.swiper:active {
    cursor: grabbing;
}

.swiper-slide {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    object-fit: cover !important;
    /* border-radius: 15px !important; */
    user-select: none !important;
    pointer-events: none !important;
}

.swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
    margin: 0 2px !important;
    background: var(--primary-lightest-text-color) !important;
    opacity: 1 !important;
    transition: all ease-in-out 0.2s !important;
    border-radius: 9999px !important;
    /* box-shadow: 0 0 2px #4824c9; */
}

/* دایره فعال */
.swiper-pagination-bullet-active {
    width: 10px !important;
    background: var(--primary-text-color) !important;
    box-shadow: 0 0 10px -2px var(--primary-color) !important;
}

/* فلش‌ها */
.swiper-button-next,
.swiper-button-prev {
    color: var(--primary-text-color) !important;
    font-weight: bold;
    /* رنگ فلش */
    background: var(--primary-lighter-color) !important;
    width: 30px !important;
    height: 30px !important;
    top: 50% !important;
    left: 0 !important;
    transition: all ease-in-out 0.3s !important;
    border-radius: 50% !important;
}
.swiper-button-prev {
    right: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 15px !important;
}

/* فلش ها وقتی هاور میشن */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--primary-light-color) !important;
}

.stars {
    width: 25px;
    height: 25px;
    right: 5%;
    animation-duration: 3s;
}

svg linearGradient stop {
    stop-color: #5900ff !important;
}

.stars:nth-child(1) {
    width: 25px;
    height: 25px;
    left: 30%;
    top: -20px;
    animation-duration: 8s;
}
.stars:nth-child(2) {
    rotate: 90deg;
    width: 50px;
    height: 50px;
    right: inherit;
    left: 5%;
    top: 0px;
    animation-duration: 5s;
}

@media (width <= 700px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: 25px !important;
        height: 25px !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 10px !important;
    }
}

@media (width <= 500px) {
    .swiper-button-next,
    .swiper-button-prev {
        width: 0px !important;
        height: 0px !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 0px !important;
    }
}
