.right_navbar {
    width: 100%;
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s all ease-in-out;
    padding: 15px 0 !important;
}

.products_category {
    z-index: -2;
    width: 100vw;
    padding-right: 20%;
    right: 0;
    position: absolute;
    height: 100vh;
    background-color: #0000005d;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product_cat {
    cursor: auto;
    width: 0%;
    /* max-width: 500px; */
    opacity: 0;
    transform: scale(0);
    position: absolute;
    top: -250vh;
    height: fit-content;
    right: -100vw;
    background-color: var(--background-color);
    border-top: 1px solid #0000005d;
    border-radius: 0px 0px 3px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px 30px;
    align-content: center;
    padding: 20px 15px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.show_product_cat {
    width: 400%;
    right: -5px;
    transform: scale(1);
    opacity: 1;
    top: 2.4em;
    transition: all 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product_cat a {
    color: var(--primary-text-color);
    background-color: var(--placeholder-color);
    text-align: center;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    opacity: 1 !important;
    z-index: 1;
}
.product_cat a:hover {
    color: #fff;
    box-shadow: 0 0 25px -10px #000;
}
.product_cat a::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    left: 0;
    top: 0%;
    transform: scale(0);
    border-radius: 10px;
    z-index: -1;
    transition: 0.2s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.product_cat a:hover::before {
    transform: scale(1);
    opacity: 1;
}
.links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--primary-light-text-color);
    text-decoration: none;
    cursor: pointer;
}

.links::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--primary-light-color);
    border-radius: 20px 20px 0 0;
    bottom: -15px;
    transition: all 0.3s cubic-bezier(0.68, -0.95, 0.265, 1.55);
}
.links:hover::before {
    width: 110%;
}
.active, .active svg{
    color: var(--primary-color);
}

.space_line {
    width: 1px;
    height: 20px;
    background-color: #999;
}

.right_navbar .row {
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 945px) {
    .right_navbar .links {
        font-size: 0.9em;
    }
    .show_product_cat {
        top: 2.7em;
    }
}
@media (max-width: 710px) {
    .right_navbar {
        display: none;
    }
}
