.right_navbar {
    width: 100%;
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s all ease-in-out;
    padding: 15px 0 !important;
}

.links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--primary-light-text-color);
    text-decoration: none;
    cursor: pointer;
}


.links::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--primary-light-color);
    border-radius: 20px 20px 0 0;
    bottom: -15px;
    transition: all 0.3s cubic-bezier(0.68, -0.95, 0.265, 1.55);
}
.links:hover::before {
    width: 110%;
}
.active,
.active svg {
    color: var(--primary-color);
}
.active::before{
    width: 110%;
}

.space_line {
    width: 1px;
    height: 20px;
    background-color: #999;
}

.right_navbar .row {
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 945px) {
    .right_navbar .links {
        font-size: 0.9em;
    }
    .show_product_cat {
        top: 2.7em;
    }
}
@media (max-width: 710px) {
    .right_navbar {
        display: none;
    }
}
