@font-face {
    font-family: "dana";
    src: url(/assets/fonts/Dana-Regular-BxfZZuX5.woff2);
}

@font-face {
    font-family: "shegeft";
    src: url(/assets/fonts/HASONEH_MRT.TTF);
}

:root {
    --primary-text-color: #011627;
    --primary-light-text-color: #011627e0;
    --primary-color: #16b6a6;
    --primary-second-color: #e71d36;
    --primary-light-color: #16b6a6c9;
    --placeholder-color: #16b6a683;
    --shop-cart-backcolor: #16b6a627;
    --background-color: #fdfffc;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "dana", "Tahoma", sans-serif;
}

body {
    background-color: var(--background-color);
    direction: rtl;
    color: var(--primary-text-color);
}

main {
    position: relative;
    top: 150px;
    padding-bottom: 100px;
    max-width: 1650px;
    width: 100%;
}

a,
#shop_cart {
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    outline: 0 solid #00000000;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

a:active,
#shop_cart:focus {
    transition: 50ms all ease-in-out;
    outline: 3px solid #00000020;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
}

.stars {
    rotate: 0;
    user-select: none;
    position: absolute;
    animation: sscales 2s ease-out infinite;
    will-change: transform;
}
@keyframes sscales {
    0% {
        scale: 0.6;
    }
    50% {
        scale: 1;
        rotate: 90deg;
    }
    75% {
        rotate: -90deg;
    }
    100% {
        scale: 0.6;
        rotate: 0deg;
    }
}

#shop_cart {
    color: var(--primary-text-color);
    border-radius: 8px 0 0 8px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: var(--shop-cart-backcolor);
    position: relative;
}

#login {
    color: var(--background-color);
    border-radius: 0 8px 8px 0;
    background-color: var(--primary-light-color);
}

#arrow {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    z-index: 2;
}
.arrow {
    margin-right: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}
.arrow::before {
    content: "";
    /* position: absolute; */
    width: 0px;
    height: 1px;
    background-color: #fff;
    margin-left: -15px;
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 15px;
    font-size: clamp(14px, 2vw, 18px);
}

.icons {
    width: 20px;
    height: 20px;
    color: var(--primary-text-color);
}

/* ----------------------------- */
/* it is just for I did a mistake to color of logo. You can remove this line code */
#logo {
    filter: invert(51%) sepia(96%) saturate(378%) hue-rotate(125deg)
        brightness(95%) contrast(91%);
}
/* ----------------------------- */

@media screen and (max-width: 945px) {
    #logo {
        width: 150px;
    }
}
@media screen and (max-width: 710px) {
    .title {
        justify-content: start;
    }
    main {
        top: 100px !important;
        bottom: 100px !important;
    }
}
