@font-face {
    font-family: "dana";
    src: url(/assets/fonts/Dana-Regular-BxfZZuX5.woff2);
}

@font-face {
    font-family: "shegeft";
    src: url(/assets/fonts/HASONEH_MRT.TTF);
}

:root {
    --primary-text-color: #011627f3;
    --primary-light-text-color: #011627e0;
    --primary-lighter-text-color: #011627d7;
    --primary-lightest-text-color: #01162780;
    --primary-color: #16b6a6;
    --primary-second-color: #e71d36;
    --primary-light-second-color: #e71d3594;
    --primary-light-color: #16b6a6c9;
    --primary-lighter-color: #16b6a64b;
    --primary-lightest-color: #16b6a61e;
    --placeholder-color: #16b6a683;
    --shop-cart-backcolor: #16b6a627;
    --background-color: #fdfffc;

    --right-slide-animation: right_slide;
    --left-slide-animation: left_slide;
    --scale-show-animation: scale_show;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "dana", "Tahoma", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    direction: rtl;
    color: var(--primary-light-text-color);
    overflow-x: hidden !important;
    /* overflow-y: hidden; */
}
main {
    position: relative;
    top: 150px;
    padding-bottom: 100px;
    max-width: 1500px;
    width: 100%;
}

button {
    animation: var(--scale-show-animation) 0.5s
        cubic-bezier(0.08, -0.05, 0.265, 1.55);
}

a,
#shop_cart {
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    outline: 0 solid #00000000;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
}

a:active,
button:active,
#shop_cart:focus {
    transition: 90ms all ease-in-out;
    outline: 3px solid #00000015;
    transform: scale(98%);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: flex;
}
.align_center {
    align-items: center;
}
.justify_center{
    justify-content: center;
}
.gap_5 {
    gap: 5px;
}
.gap_15 {
    gap: 15px;
}

.stars {
    rotate: 0;
    user-select: none;
    position: absolute;
    animation: sscales 2s ease-out infinite;
    will-change: transform;
    z-index: 100;
}
.f_size_12 {
    font-size: 12px;
}
@keyframes sscales {
    0% {
        scale: 0.6;
    }
    50% {
        scale: 1;
        rotate: 90deg;
    }
    75% {
        rotate: -90deg;
    }
    100% {
        scale: 0.6;
        rotate: 0deg;
    }
}

#shop_cart {
    color: var(--primary-text-color);
    border-radius: 8px 0 0 8px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: var(--shop-cart-backcolor);
    position: relative;
}

#login {
    color: var(--background-color);
    border-radius: 0 8px 8px 0;
    background-color: var(--primary-light-color);
}

#arrow {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    z-index: 2;
}
.arrow {
    margin-right: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}
.arrow::before {
    content: "";
    /* position: absolute; */
    width: 0px;
    height: 1px;
    background-color: #fff;
    margin-left: -15px;
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 15px;
    font-size: clamp(14px, 2vw, 18px);
}

.icons {
    width: 20px;
    height: 20px;
    color: var(--primary-text-color);
}

.btn_disabled {
    filter: opacity(0.6) !important;
    cursor: not-allowed !important;
    user-select: none !important;
    outline: none !important;
    transform: inherit !important;
}

.modal {
    z-index: -1;
    width: 100vw;
    padding-right: 20%;
    right: 0;
    position: absolute;
    height: 100vh;
    background-color: #0000005d;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* ----------------------------- */
/* it is just for I did a mistake to color of logo. You can remove this line code */
#logo {
    filter: invert(51%) sepia(96%) saturate(378%) hue-rotate(125deg)
        brightness(95%) contrast(91%);
}
/* ----------------------------- */

@media screen and (max-width: 945px) {
    #logo {
        width: 150px;
    }
}
@media screen and (max-width: 710px) {
    .title {
        justify-content: start;
    }
    main {
        top: 100px !important;
        bottom: 100px !important;
    }
}

@keyframes right_slide {
    0% {
        filter: scale(0.25);
        transform: translateX(50%) translateY(-2%);
    }
    100% {
        filter: scale(1);
        transform: translateX(0) translateY(0);
    }
}
@keyframes left_slide {
    0% {
        filter: scale(0.25);
        transform: translateX(-50%) translateY(-2%);
    }
    100% {
        filter: scale(1);
        transform: translateX(0) translateY(0);
    }
}

@keyframes scale_show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.switch {
    --button-width: 2.5em;
    --button-height: 1.5em;
    --toggle-diameter: 1.1em;
    --button-toggle-offset: calc(
        (var(--button-height) + var(--toggle-diameter)) / 2
    );
    --toggle-shadow-offset: 10px;
    --toggle-wider: 1.3em;
    --color-grey: #b4b4b4;
    --color-green: #16b6a6;
    cursor: pointer;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
    direction: ltr;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter));
    position: absolute;
    top: calc(var(--button-toggle-offset) / 6);
    transform: translateX(calc(var(--button-toggle-offset) / 1.1));
    box-shadow: var(--toggle-shadow-offset) 0
        calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(
        calc(
            var(--button-width) - var(--toggle-diameter) -
                calc(var(--button-toggle-offset) / 1.1)
        )
    );
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
        calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    transform: translateX(var(--button-toggle-offset)) scale(0.95);
    transition: 0.1s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(
        calc(
            var(--button-width) - var(--toggle-diameter) -
                var(--button-toggle-offset)
        )
    ) scale(0.95);    transition: 0.1s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


