.nav_links {
    text-decoration: none;
    padding: 6px 10px;
    gap: 5px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.space_line {
    width: 1px;
    height: 20px;
    background-color: #999;
}
.products_count {
    position: absolute;
    filter: brightness(100%) !important;
    color: #fff;
    top: -5px;
    left: -5px;
    pointer-events: none;
    z-index: 10;
}
.products_count p {
    background-color: var(--primary-second-color);
    border-radius: 999px;
    font-size: 0.8em;
    height: fit-content;
    padding: 0 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    filter: brightness(50%);
}

.shop_cart {
    position: absolute;
    opacity: 0;
    /* transform: translate(0, -20px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 30px;
    top: -140px;
    gap: 4px;
    padding: 15px 10px;
    height: 0px;
    width: 0px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 7px 10px 0px #b1b1b1;
    z-index: 4;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
}
.shop_cart .empty_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show_shopCart {
    opacity: 1;
    /* transform: translate(0, 0px); */
    left: 0;
    top: 40px;
    height: 450px;
    width: 400px;
}
.shop_cart > p {
    color: var(--primary-light-text-color);
    font-size: 1.2em;
}
.shop_cart a {
    height: fit-content !important;
}
.shop_cart a:last-child {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    padding-right: 7px;
    box-shadow: 0 1px 0 var(--primary-color);
    position: relative;
    margin-top: 20px;
}
.shop_cart a:hover {
    box-shadow: 0 2px 0 var(--primary-color);
}
.shop_cart a:hover .arrow::before {
    /* background-color: var(--primary-color); */
    width: 17px;
    /* margin-right: -5px; */
}
@media screen and (max-width: 960px) {
    .nav_links:last-child {
        font-size: 0 !important;
        padding-left: 10px !important;
        padding-top: 8px !important;
    }
}
