.products {
    opacity: 1 !important;
    outline: none !important;
    display: block;
    /* padding: 15px 0; */
    height: 100%;
    width: 100%;
}

.product_title {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.product_title p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* بعد از 2 خط سه نقطه بذاره */
    overflow: hidden;
    max-width: 250px;
}
.shegeft_wrapper {
    background-color: #fff;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* margin: 10px 0px; */
    transition: all 0.2s ease-out;
    position: relative;
    border-radius: 8px;
    width: 100% !important;
    border: 1px solid #00000021;
}

.shegeft_wrapper:hover {
    border: 1px solid #0000004f;
    /* scale: 0.995; */
}
.shegeft_wrapper:active {
    border: 1px solid var(--primary-light-text-color);
}
.products:active {
    transform: scale(100%);
}
.shegeft_wrapper:hover .shegeft_product {
}
.shegeft_product {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 35px 5px 0px 5px;
    align-items: center;
    flex-direction: column;
    /* gap: 50px; */
    color: var(--primary-text-color);

    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.shegeft_titles img {
    width: 160px;
    height: auto !important;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.shegeft_titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 7px;
}
.row,
.texts {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.texts {
    gap: 7px;
    margin-bottom: 17px;
    flex-direction: column;
}

.stock_div {
    display: flex;
    width: 100%;
    color: #ff0000;
}

@media (max-width: 380px) {
    .shegeft_pricesTakhfif {
        flex-direction: column;
        align-items: start;
    }
    .shegeft_titles img {
        width: 120px;
    }
}
/* @media (max-width: 830px) { */
.row {
    flex-direction: column;
}
/* } */
@media (max-width: 710px) {
    /* .texts {
        background-color: #fff;
        padding: 0;
        padding-bottom: 8px;
        height: 55px;
        width: 100%;
    } */
}
@media (max-width: 450px) {
    .row {
        flex-direction: row;
    }
}
