.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}

.nav2 {
    width: 100%;
    max-width: 1900px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.search_input {
    position: relative;
    background-color: #ebebeb;
    /* border: #ffffff 1px solid; */
    border-radius: 9999px;
    padding: 0 18px;
    padding-left: 0;
    margin: 0 20px 0 0;
}
.search_input .search_btn,
.modal_search .search_btn {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: #00000083 !important;
    background-color: var(--shop-cart-backcolor);
    border-radius: 999px;
    width: 55px;
    height: 55px;
    padding: 15px;
}

.search_input input,
.modal input {
    border: none;
    outline: none;
    background: transparent !important;
    caret-color: var(--primary-color);
    width: 300px;
    margin-left: 5px;
    font-size: 1em;
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.search_input input:focus {
    width: 365px;
}
.search_input input:focus + .search_btn,
.modal input:focus + .search_btn {
    color: var(--primary-color) !important;
}
.search_input input:focus + .search_btn:hover,
.modal input:focus + .search_btn:hover {
    background-color: var(--primary-light-text-color);
}

.search_input input::placeholder,
.modal input::placeholder {
    transition: all 0.2s ease-in-out;
    background: transparent !important;
    color: #00000083;
}

.search_input input:focus::placeholder,
.modal input:focus::placeholder {
    color: var(--placeholder-color);
}

.open {
    right: 0 !important;
    transition: 0.4s all ease-in-out;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.search_results {
    background-color: #fff;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.search_results p {
    color: var(--primary-text-color) !important;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #ffffff;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 20px 20px 20px 20px;
    transform: scale(0);
    transform-origin: top left;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.show_modal {
    top: 0%;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.close_mark {
    top: 0;
    border-radius: 50%;
    padding: 5px;
    background-color: #ffffff1a;
    transition: 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
}
.close_mark:hover {
    color: var(--primary-text-color) !important;
    background-color: #ffffffe5;
}
.modal_search {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #e9e9e9;
    padding: 0px 20px;
    padding-left: 0;
    border-radius: 999px;
    height: fit-content;
    /* justify-content: space-between; */
}
.modal_search input {
    font-size: 18px;
}
.modal_search .search_btn {
    padding: 14px;
    width: 65px;
}
.modal input {
    width: 100%;
}

.absolute_results {
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 15px 15px 0 #00000056;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 73%;
    right: 0;
    z-index: 100;
    height: fit-content;
    max-height: 500px;
}

@media screen and (max-width: 875px) {
    .search_input {
        padding: 0;
    }
}

@media (max-width: 710px) {
    .profiles {
        justify-content: center;
    }

    .navbar .row:first-child {
        width: 100%;
    }

    .search_input input {
        width: calc(100% - 20px) !important;
    }
    .search_input {
        width: 100%;
        padding-right: 18px;
    }

    .navbar img {
        display: block;
    }
}

@media (max-width: 520px) {
    .search_input {
        width: fit-content;
        padding: 0;
    }
    .search_input input + .search_btn {
        filter: contrast(1) !important;
    }

    .search_input input {
    }
}
