.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0px 10px 0px #eeeeee;
}

.nav2 {
    width: 100%;
    max-width: 1900px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
}

.search_input {
    background-color: #ebebeb;
    /* border: #ffffff 1px solid; */
    border-radius: 9999px;
    padding: 0 18px;
    padding-left: 0;
    margin: 0 20px 0 0;
}
.search_input .search_btn,
.modal_search .search_btn {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: #00000083 !important;
    background-color: var(--shop-cart-backcolor);
    border-radius: 999px;
    width: 55px;
    height: 55px;
    padding: 15px;
}

.search_input input,
.modal input {
    border: none;
    outline: none;
    background: transparent !important;
    caret-color: var(--primary-color);
    width: 300px;
    margin-left: 5px;
    font-size: 1em;
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.search_input input:focus {
    width: 365px;
}
.search_input input:focus + .search_btn,
.modal input:focus + .search_btn {
    color: var(--primary-color) !important;
}
.search_input input:focus + .search_btn:hover,
.modal input:focus + .search_btn:hover {
    background-color: var(--primary-light-text-color);
}

.search_input input::placeholder,
.modal input::placeholder {
    transition: all 0.2s ease-in-out;
    background: transparent !important;
    color: #00000083;
}

.search_input input:focus::placeholder,
.modal input:focus::placeholder {
    color: var(--placeholder-color);
}

.open {
    right: 0 !important;
    transition: 0.4s all ease-in-out;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 960px) {
    .search_input input {
        width: 190px;
    }
    .search_input input:focus {
        width: 230px;
    }
}

@media (max-width: 710px) {
    .profiles {
        justify-content: center;
    }

    .navbar .row:first-child {
        width: 100%;
    }

    .search_input input {
        width: calc(100% - 20px) !important;
    }
    .search_input {
        width: 100%;
    }

    .navbar img {
        display: block;
    }
}

@media (max-width: 520px) {
    .search_input {
        width: fit-content;
        padding: 0;
    }
    .search_input input + .search_btn {
        filter: contrast(1) !important;
    }

    .search_input input {
        display: none;
    }

    .modal {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000000dc;
        border-radius: 0 0 20% 20%;
        z-index: 1001;
        width: 100vw;
        height: fit-content;
        gap: 30px;
        padding: 20px 20px 85px 20px;
        box-shadow: 0 10px 20px -5px #000000dc;
        top: -100%;
        transition: top 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .show_modal {
        top: 0%;
        transition: top 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .close_mark {
        top: 0;
        border-radius: 50%;
        padding: 5px;
        background-color: #ffffff1a;
    }
    .close_mark:hover {
        color: var(--primary-text-color) !important;
        background-color: #ffffffe5;
    }
    .modal_search {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #fff;
        padding: 0px 20px;
        padding-left: 0;
        border-radius: 999px;
        height: fit-content;
        /* justify-content: space-between; */
    }
    .modal_search .search_btn {
        padding: 14px;
        width: 65px;
    }
    .modal input {
        width: 100%;
    }
}
