.titles {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.searchQuery {
    color: var(--primary-light-text-color);
}
.searchQuery span,
.searchQuery:first-child {
    color: var(--primary-text-color);
}

.products_wrapper {
    display: flex;
    gap: 20px;
    padding: 0 15px;
}
.products {
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.product {
    height: 400px;
}

.filters {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 10px 15px;
    position: sticky;
    z-index: 1;
    top: 125px;
    height: fit-content;
    margin: 13px 0;
    width: 370px;
    transition: 0.8s top cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.filters h3 {
    font-size: 1.3em;
    margin: 12px 0 18px 0;
}

.details,
.details i {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    font-weight: bold;
    cursor: pointer;
}
.details {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}
.summary {
    overflow: hidden;
    max-height: 0;
    /* box-shadow: 0 2px 12px -8px #7e7e7e; */

    transition: max-height 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.open {
    max-height: 300px;
    transition: max-height 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.details i {
    transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0 0 8px 8px;
}
.category_summary .information {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

/* Hide the default checkbox */
.cat_checked {
    display: flex;
    align-items: center;
    cursor: pointer;

    gap: 7px;
}

.checkbox input {
    position: absolute;
    width: 0;
    opacity: 0;
}

.checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    gap: 10px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 5px;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    height: 1.3em;
    width: 1.3em;
    background-color: #2196f300;
    border-radius: 0.25em;
    transition: all 0.25s;
}

/* When the checkbox is checked, add a background */
.checkbox input:checked ~ .checkmark {
    background-color: var(--primary-color);
}
.checkbox input:focus ~ .checkmark {
    outline: 2px solid var(--placeholder-color);
    transition: outline 0.1s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid;
    left: 0;
    top: 0;
    width: 1.3em;
    height: 100%;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
    border-color: #666;
}
.checkbox:hover .checkmark:after {
    border-color: var(--primary-color);
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    left: 0.5em;
    top: 0.28em;
    width: 0.28em;
    height: 0.57em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.prices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.toman {
    font-size: 0.9em;
}

@media (max-width: 630px) {
    .product {
        height: fit-content;
    }
}
@media (max-width: 440px) {
    .products {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.custom-slider {
    height: 8px;
}
.summary :global(.rc-slider) {
    width: 95% !important;
    place-self: center !important;
}

/* خط پس‌زمینه */
.summary :global(.rc-slider-rail) {
    background-color: #8b8b8b !important;
    height: 2px !important;
    border-radius: 3px;
}

/* محدوده انتخاب شده */
.summary :global(.rc-slider-track) {
    background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--primary-color)
    );
    height: 2px !important;
    border-radius: 3px;
}

/* دایره‌ی هندل */
.summary :global(.rc-slider-handle) {
    width: 17px !important;
    height: 17px !important;
    border: 2px solid var(--primary-text-color) !important;
    cursor: pointer;
    opacity: 1 !important;
    margin-top: -8px !important;
}

.summary :global(.rc-slider-handle):hover {
    box-shadow: 0 0 0 3px var(--placeholder-color) !important;
}

/* وقتی روش کلیک/درگ می‌کنی */
.summary :global(.rc-slider-handle):active {
    box-shadow: 0 0 0 6px var(--placeholder-color) !important;
}
.price_summary input {
    width: 100%;
    padding: 6px 0;
    caret-color: var(--primary-color);
    text-align: center;
    border: 1px solid #a7a7a7;
    border-radius: 7px;
    transition: 0.2s all cubic-bezier(0.6, -0.28, 0.735, 0.045);
    outline: solid var(--shop-cart-backcolor) 0px;
}
.price_summary input:hover {
    border-color: var(--primary-light-text-color);
}
.price_summary input:focus {
    outline: solid var(--shop-cart-backcolor) 3px;
    border-color: var(--primary-light-color);
}

/* برچسب قیمت‌ها */
.labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.modal {
    position: fixed;
    top: 100%;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000004d;
    z-index: 11;
    transition: 0.1s top cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.modal_show {
    transition: 0.1s top cubic-bezier(0.785, 0.135, 0.15, 0.86);

    top: 0;
}
.closes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.closes .close_mark {
    background-color: #e4e4e4;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.closes .close_mark:hover {
    background-color: var(--primary-light-text-color);
    color: var(--primary-color) !important;
}
.showFilters {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 11px 0;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: 0px #fff0 solid;
}

.showFilters:hover {
    background-color: #e4e4e4;
    border: 1px solid #b8b8b8;
}
.showFilters:active {
    background-color: #b8b8b8;
    transition-duration: 0.1s;
    outline: var(--shop-cart-backcolor) 4px solid;
}
.clear_all_btn {
    width: 85%;
    margin-top: 25px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #c41717;
    background-color: #e71d1d;
    transition: filter 0.3s ease-in-out, outline 0.1s ease-in-out;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.clear_all_btn:hover {
    filter: opacity(0.85);
}
.clear_all_btn:active {
    outline: 3px solid #e71d1d7a;
}

.btn_disabled {
    filter: opacity(0.6) !important;
    cursor: not-allowed !important;
    user-select: none !important;
    outline: none !important;
}

@media (max-width: 956px) {
    .products_wrapper {
        flex-direction: column;
    }
    .filters {
        position: absolute;
        z-index: 12;
        width: calc(100% - 50px);
        height: fit-content;
        right: 0;
        top: -153vh;
        transform: scale(0);
        filter: opacity(0);
        margin: 0 25px;
    }
    .show {
        transition: 0.3s top cubic-bezier(0.785, 0.135, 0.15, 0.86);
        top: 0;
        transform: scale(1);
        filter: opacity(1);
    }
}
@media (max-width: 370px) {
    .prices {
        flex-direction: column;
    }
}
