.breadcrumb {
    display: flex;
    gap: 10px;
    margin: 0 20px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    position: relative;
    align-items: center;
    padding: 10px;
    color: var(--primary-light-text-color);
}
.breadcrumb li {
    display: flex;
    align-items: center;
    position: relative;
    animation: var(--right-slide-animation) 0.2s
        cubic-bezier(0.08, -0.05, 0.265, 1.55);
}
.breadcrumb li:last-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* بعد از 2 خط سه نقطه بذاره */
    overflow: hidden;
    max-width: 65%;
    animation: var(--right-slide-animation) 0.5s
        cubic-bezier(0.08, -0.05, 0.265, 1.55);
}
.breadcrumb .flash {
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
}

.breadcrumb li a {
    color: var(--primary-color);
    position: relative;
    animation: var(--right-slide-animation) 0.5s
        cubic-bezier(0.08, -0.05, 0.265, 1.55);
}

.breadcrumb li a::before,
.breadcrumb li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 0%;
    background-color: var(--primary-color);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.breadcrumb li a::after {
    right: 50%;
}
.breadcrumb li a::before {
    left: 50%;
}
.breadcrumb li a:hover::before,
.breadcrumb li a:hover::after {
    width: 50%;
}
.breadcrumb li:first-child a:hover {
    color: #fff;
}
.breadcrumb li:first-child a:hover::before {
    border-radius:  0 5px 5px 0;
}
.breadcrumb li:first-child a:hover::after {
    border-radius: 5px 0 0 5px;
}
.breadcrumb li:first-child a:hover::before,
.breadcrumb li:first-child a:hover::after {
    height: 100%;
    width: 60%;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 720px) {
    .breadcrumb {
        margin: 0;
        margin-bottom: 20px;
        font-size: 0.7em;
    }
}
