.previous_nav{
    position: fixed;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: #fff;
    z-index: 300;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0px 0px 10px #c7c7c749;
    padding: 12px 10px;
}

.previous_nav .arrow_icon{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f1f1f1;
}
.previous_nav .arrow_icon:hover{
    background-color: #cfcfcf;
}

.previous_nav .product_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* بعد از 2 خط سه نقطه بذاره */
    overflow: hidden;
    max-width: 100%;
}