.tooltip {
    position: absolute;
    color: #fff;
    background-color: #000000a8;
    padding: 4px 9px;
    border-radius: 8px;
    font-size: 14px;
    backdrop-filter: blur(3px);
    left: -10px;
    top: calc(100% + 7px);
    z-index: 100;
    transform: scale(0) translateY(-15px);
    filter: blur(2px);
    opacity: 0;
    transition: all 50ms linear;
}
.tooltip::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px 6px;
    top: -10px;
    right: calc(50% - 6px);
    border-color: transparent transparent #000000a8 transparent;
}
.show {
    opacity: 1;
    transform: scale(1) translateY(0px);
    filter: blur(0px);
    opacity: 1;
    transition: all 50ms linear;
}
